
<% if action == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>

<form action=" <%= action_url %> " method="post">
  <% if action == :edit %>
  <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label for="name">Name</label>
  <input id='name' type="text" name="cat[name]" value=" <%= @cat.name %> ">
  <br>
  <input id='male' type="radio" name="cat[sex]" value="M" <%= @cat.sex == "M" ? "checked" : "" %> >
  <label for="male">M</label>
  <br>
  <input type="radio" name="cat[sex]" value="F" <%= @cat.sex == "F" ? "checked" : "" %> >
  <label for="male">F</label>
  <br>
  <label for="color">Color</label>
  <select class="color" name='cat[color]' value=" <%= @cat.color %> ">
    <option disabled selected>Select Color:</option>
    <option value="brown" <%= @cat.color == "brown" ? "selected" : "" %>  >Brown</option>
    <option value="black" <%= @cat.color == "black" ? "selected" : "" %> >Black</option>
    <option value="white" <%= @cat.color == "white" ? "selected" : "" %> >White</option>
    <option value="orange" <%= @cat.color == "orange" ? "selected" : "" %> >Orange</option>
    <option value="gray" <%= @cat.color == "gray" ? "selected" : "" %> >Gray</option>
  </select>
  <br>
  <label for="date" >Date of Birth</label>
  <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  <br>
  <label for="description">Description</label>
  <br>

  <textarea id='description' name="description"><%= @cat.description %></textarea>
  <br>
  <input type="submit" value="<%= (action == :edit) ? "Update Cat" : "Add Cat"%>">

</form>
