<h1>Here's a cat</h1>

<ul>
  <li>Name: <%=@cat.name%></li>
  <li>Color:  <%=@cat.color%></li>
  <li>Sex: <%=@cat.sex%></li>
  <li>Birthday: <%=@cat.birth_date%></li>
  <li>Description: <%=@cat.description%></li>
</ul>
<a href="/cats/<%= @cat.id %>/edit">Edit</a>
